#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label > * {
    display: block;
}

video {
  height: 100%;
}

.big-go-button {
  font-size: 2rem;
  height: 4rem;
  padding: 0;
  width: 4rem;
}
