#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label > * {
    display: block;
}

video {
  height: 100%;
}

.big-go-button {
  font-size: 2rem;
  height: 4rem;
  padding: 0;
  width: 4rem;
}

.order-number {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  left: 1%;
  position: absolute;
  top: 2%;
  width: 2rem;
}
